In [1]:
from pytrends.request import TrendReq
import pandas as pd
import time

# Initialize pytrends
pytrend = TrendReq()

# List of category IDs
category_ids =[356, 255, 288, 5, 233, 1141, 1190, 174, 1299, 1228, 442, 5, 1277, 744, 32, 382, 77, 314, 49, 486, 840, 500, 46, 688, 657, 436, 442, 958, 29, 382, 785, 77, 440, 446, 982, 251, 287, 231, 252, 1327, 1168, 452, 663, 906, 1297, 81, 257, 1143, 268, 1221, 47, 964, 74, 417, 299, 51, 517, 678, 59, 972]

category_names = [
    "Computers & Electronics",  # ID 5
    "Enterprise Technology",    # ID 77
    "Science",                  # ID 174
    "Jobs & Education",         # ID 958
    "Law & Government",         # ID 19
    "Internet & Telecom",       # ID 13
    "Industrial Materials & Equipment",  # ID 287
    "Biotechnology & Pharmaceuticals",   # ID 255
    "Aerospace & Defense",      # ID 356
    "Automotive Industry",      # ID 1190
    "Energy & Utilities",       # ID 233
    "Chemicals Industry",       # ID 288
    "Medical Devices & Equipment",       # ID 251
    "Construction & Maintenance",        # ID 48
    "Health",                   # ID 45
    "Robotics",                 # ID 1141
    "Technology News"           # ID 785
]

# List of countries
countries = [
    "US",  # United States
    "CN",  # China
    "JP",  # Japan
    "DE",  # Germany
    "KR",  # South Korea
    "IN",  # India
    "FR",  # France
    "GB",  # United Kingdom
    "RU",  # Russia
    "BR",  # Brazil
    "CA",  # Canada
    "IT",  # Italy
    "AU",  # Australia
    "ES",  # Spain
    "CH",  # Switzerland
    "NL",  # Netherlands
    "SE",  # Sweden
    "IL",  # Israel
    "FI",  # Finland
    "BE",  # Belgium
    "TW",  # Taiwan
    "SG",  # Singapore
    "AT",  # Austria
    "DK",  # Denmark
    "NO",  # Norway
    "PL",  # Poland
    "TR",  # Turkey
    "PT",  # Portugal
    "IE",  # Ireland
    "CZ"   # Czech Republic
]
# Set timeframe
timeframe = '2005-01-01 2020-12-31'

# Dictionary to hold data frames for each country
country_data_frames = {}

# Loop over each country
for country in countries:
    # Initialize an empty list to collect data frames for this country
    dfs = []
    
    # Fetch the data for each category and add to the list
    for category_id in category_ids:
        attempts = 0
        success = False

        while not success :  # Retry up to 5 times
            try:
                pytrend.build_payload(kw_list=[""], cat=category_id, timeframe=timeframe, geo=country)
                data = pytrend.interest_over_time()
                
                # Drop the 'isPartial' column
                if 'isPartial' in data.columns:
                    data = data.drop(columns=['isPartial'])

                dfs.append(data)
                success = True
            except Exception as e:
                print(f"An error occurred: {e}. Retrying after 60 seconds...")
                time.sleep(1)  # Sleep for 60 seconds
                attempts += 1

    # Concatenate all data frames along the columns
    combined_data = pd.concat(dfs, axis=1)

    # Store the combined data frame in the dictionary
    country_data_frames[country] = combined_data

# Now, country_data_frames contains the data frames for each country

An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...

An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...
An error occurred: The request failed: Google returned a response with code 429. Retrying after 60 seconds...

In [2]:
country_data_frames["US"]

,,,,,,,,,,,,,,,,,
date,,,,,,,,,,,,,,,,,
2005-01-01,100,88,84,100,95,92,91,89,76,62,83,97,72,97,94,82,95
2005-02-01,95,86,100,93,93,86,100,89,74,66,87,95,70,92,100,82,75
2005-03-01,95,94,90,97,98,83,93,95,76,70,100,98,70,92,100,100,80
2005-04-01,86,89,96,95,100,79,93,92,73,70,95,97,66,92,93,80,80
2005-05-01,87,88,89,84,87,82,86,83,69,71,91,95,64,91,89,72,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-01,0,0,42,0,0,0,70,29,0,29,0,0,58,72,0,0,0
2020-09-01,0,0,53,0,0,0,60,27,0,27,0,0,51,68,0,0,0
2020-10-01,0,0,42,0,0,0,59,27,0,23,0,0,48,64,0,0,0
2020-11-01,0,0,36,0,0,0,56,32,0,23,0,0,45,57,0,0,0
2020-12-01,0,0,35,0,0,0,56,38,0,22,0,0,44,56,0,0,0

In [3]:
for country, df in country_data_frames.items():
    # Check if the number of columns matches the number of category names
        # Rename the columns
        df.columns = category_names

In [4]:
# Create a list to hold all DataFrames
all_dataframes = []

# Loop over each country's DataFrame in country_data_frames
for country, df in country_data_frames.items():
    # Add a new column with the country name
    df['Country'] = country  # This adds the country code as a new column

    # Append the DataFrame to the list
    all_dataframes.append(df)

# Concatenate all DataFrames in the list
combined_data = pd.concat(all_dataframes)

# Reset the index of the combined DataFrame
combined_data.reset_index(inplace=True)
combined_data["year"] = combined_data["date"].apply(lambda x : int(str(x).split("-")[0]))
combined_data["month"] = combined_data["date"].apply(lambda x : int(str(x).split("-")[1]))

In [5]:
def quartile(month):
    if 1 <= month <= 3:
        return 1  # January to March
    elif 4 <= month <= 6:
        return 2  # April to June
    elif 7 <= month <= 9:
        return 3  # July to September
    else:
        return 4  # October to December

In [6]:
combined_data["month"] = combined_data["month"].apply(lambda x : quartile(x))
combined_data.rename(columns={'month': 'quartile'}, inplace=True)
combined_data

,date,Computers & Electronics,Enterprise Technology,Science,Jobs & Education,Law & Government,Internet & Telecom,Industrial Materials & Equipment,Biotechnology & Pharmaceuticals,Aerospace & Defense,...,Energy & Utilities,Chemicals Industry,Medical Devices & Equipment,Construction & Maintenance,Health,Robotics,Technology News,Country,year,quartile
0,2005-01-01,100,88,84,100,95,92,91,89,76,...,83,97,72,97,94,82,95,US,2005,1
1,2005-02-01,95,86,100,93,93,86,100,89,74,...,87,95,70,92,100,82,75,US,2005,1
2,2005-03-01,95,94,90,97,98,83,93,95,76,...,100,98,70,92,100,100,80,US,2005,1
3,2005-04-01,86,89,96,95,100,79,93,92,73,...,95,97,66,92,93,80,80,US,2005,2
4,2005-05-01,87,88,89,84,87,82,86,83,69,...,91,95,64,91,89,72,100,US,2005,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5755,2020-08-01,32,0,77,66,0,67,0,0,0,...,77,77,32,84,77,75,31,CZ,2020,3
5756,2020-09-01,34,0,72,83,0,65,0,0,0,...,80,81,44,86,77,78,39,CZ,2020,3
5757,2020-10-01,40,0,85,89,0,74,0,0,0,...,83,81,41,89,89,75,44,CZ,2020,4
5758,2020-11-01,44,0,96,100,0,81,0,0,0,...,87,89,38,95,90,90,36,CZ,2020,4
5759,2020-12-01,40,0,72,66,0,73,0,0,0,...,75,76,32,81,82,86,31,CZ,2020,4

In [7]:
combined_data = combined_data.drop(columns = ["date"])
combined_data_quartiles = combined_data.groupby(['Country', 'year', 'quartile']).mean()
combined_data_quartiles

                       Computers & Electronics  Enterprise Technology  \
Country year quartile
AT      2005 1                       94.666667              93.000000
             2                       86.666667              93.666667
             3                       82.333333              81.666667
             4                       87.666667              81.333333
        2006 1                       82.666667              78.666667
...                                        ...                    ...
US      2019 4                        0.000000               0.000000
        2020 1                        0.000000               0.000000
             2                        0.000000               0.000000
             3                        0.000000               0.000000
             4                        0.000000               0.000000

                         Science  Jobs & Education  Law & Government  \
Country year quartile
AT      2005 1         98.000000         93.000000         92.000000
             2         93.000000         86.333333         88.000000
             3         73.333333         75.000000         80.333333
             4         88.666667         78.666667         81.666667
        2006 1         86.666667         84.666667         89.333333
...                          ...               ...               ...
US      2019 4         45.666667          0.000000          0.000000
        2020 1         44.666667          0.000000          0.000000
             2         42.000000          0.000000          0.000000
             3         43.666667          0.000000          0.000000
             4         37.666667          0.000000          0.000000

                       Internet & Telecom  Industrial Materials & Equipment  \
Country year quartile
AT      2005 1                  94.333333                         92.000000
             2                  86.333333                         90.666667
             3                  84.333333                         86.666667
             4                  89.000000                         80.333333
        2006 1                  87.666667                         79.333333
...                                   ...                               ...
US      2019 4                   0.000000                         56.333333
        2020 1                   0.000000                         57.333333
             2                   0.000000                         63.000000
             3                   0.000000                         66.666667
             4                   0.000000                         57.000000

                       Biotechnology & Pharmaceuticals  Aerospace & Defense  \
Country year quartile
AT      2005 1                               94.666667            79.333333
             2                               92.666667            64.333333
             3                               87.333333            81.000000
             4                               85.666667            60.333333
        2006 1                               87.666667            54.333333
...                                                ...                  ...
US      2019 4                               22.666667             0.000000
        2020 1                               27.000000             0.000000
             2                               27.666667             0.000000
             3                               28.666667             0.000000
             4                               32.333333             0.000000

                       Automotive Industry  Energy & Utilities  \
Country year quartile
AT      2005 1                   80.666667           90.333333
             2                   81.333333           88.000000
             3                   70.000000           89.000000
             4                   75.333333           85.666667
        2006 1                   73.000000           92.000000
...                                    ...                 ...
US      2019 4                   42.333333            0.000000
        2020 1                   32.000000            0.000000
             2                   29.333333            0.000000
             3                   28.000000            0.000000
             4                   22.666667            0.000000

                       Chemicals Industry  Medical Devices & Equipment  \
Country year quartile
AT      2005 1                  89.333333                    91.666667
             2                  92.666667                    87.333333
             3                  84.000000                    80.000000
             4                  77.000000                    79.333333
        2006 1                  77.000000                    81.333333
...                                   ...                          ...
US      2019 4                   0.000000                    43.000000
        2020 1                   0.000000                    68.666667
             2                   0.000000                    75.666667
             3                   0.000000                    61.000000
             4                   0.000000                    45.666667

                       Construction & Maintenance     Health   Robotics  \
Country year quartile
AT      2005 1                          90.666667  95.333333  86.333333
             2                          93.666667  93.333333  75.333333
             3                          94.666667  85.333333  58.333333
             4                          88.666667  84.666667  67.333333
        2006 1                          92.333333  88.333333  73.666667
...                                           ...        ...        ...
US      2019 4                          54.333333   0.000000   0.000000
        2020 1                          58.333333   0.000000   0.000000
             2                          66.333333   0.000000   0.000000
             3                          72.000000   0.000000   0.000000
             4                          59.000000   0.000000   0.000000

                       Technology News
Country year quartile
AT      2005 1               27.666667
             2               23.666667
             3               22.333333
             4               19.666667
        2006 1               27.000000
...                                ...
US      2019 4                0.000000
        2020 1                0.000000
             2                0.000000
             3                0.000000
             4                0.000000

[1920 rows x 17 columns]

In [8]:
combined_data_quartiles = (combined_data_quartiles  - combined_data_quartiles.mean() )/combined_data_quartiles.std()
combined_data_quartiles = combined_data_quartiles.reset_index()
combined_data_quartiles

,Country,year,quartile,Computers & Electronics,Enterprise Technology,Science,Jobs & Education,Law & Government,Internet & Telecom,Industrial Materials & Equipment,Biotechnology & Pharmaceuticals,Aerospace & Defense,Automotive Industry,Energy & Utilities,Chemicals Industry,Medical Devices & Equipment,Construction & Maintenance,Health,Robotics,Technology News
0,AT,2005,1,1.986124,1.779740,1.974889,1.722900,1.565934,1.564914,1.573205,2.081240,2.142268,1.655482,1.601473,1.505508,1.992401,1.449428,1.640034,1.672504,0.127441
1,AT,2005,2,1.731592,1.800847,1.819166,1.510935,1.450252,1.334609,1.533177,2.015762,1.555042,1.678561,1.531357,1.612210,1.841844,1.538116,1.578021,1.286222,-0.021524
2,AT,2005,3,1.593720,1.420936,1.206653,1.150596,1.228527,1.277033,1.413096,1.841154,2.207515,1.286217,1.561407,1.334786,1.587056,1.567679,1.329969,0.689241,-0.071178
3,AT,2005,4,1.763408,1.410383,1.684205,1.267176,1.267088,1.411378,1.222967,1.786589,1.398448,1.470849,1.461242,1.110713,1.563894,1.390302,1.309298,1.005290,-0.170488
4,AT,2006,1,1.604326,1.325959,1.621916,1.457944,1.488813,1.372993,1.192946,1.852067,1.163558,1.390073,1.651556,1.110713,1.633381,1.498699,1.422989,1.227695,0.102614
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1915,US,2019,4,-1.025839,-1.164563,0.344982,-1.234002,-1.094760,-1.150765,0.502477,-0.275968,-0.963506,0.328437,-1.113001,-1.354092,0.301535,0.375314,-1.315919,-1.359223,-0.902897
1916,US,2020,1,-1.025839,-1.164563,0.313837,-1.234002,-1.094760,-1.150765,0.532497,-0.134099,-0.963506,-0.029288,-1.113001,-1.354092,1.193293,0.493565,-1.315919,-1.359223,-0.902897
1917,US,2020,2,-1.025839,-1.164563,0.230785,-1.234002,-1.094760,-1.150765,0.702613,-0.112273,-0.963506,-0.121604,-1.113001,-1.354092,1.436500,0.730067,-1.315919,-1.359223,-0.902897
1918,US,2020,3,-1.025839,-1.164563,0.282692,-1.234002,-1.094760,-1.150765,0.812688,-0.079534,-0.963506,-0.167762,-1.113001,-1.354092,0.926924,0.897590,-1.315919,-1.359223,-0.902897
1919,US,2020,4,-1.025839,-1.164563,0.095824,-1.234002,-1.094760,-1.150765,0.522491,0.040509,-0.963506,-0.352394,-1.113001,-1.354092,0.394185,0.513273,-1.315919,-1.359223,-0.902897

In [9]:
combined_data_quartiles.to_csv("categories_google_trends.csv",index=False)